.blog_post_wrapper {
    margin-top: 2rem;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    h5 {
        font-size: 20px;
    }
    .form-group {
        margin: 1rem 0rem;
        label {
            font-size: 14px;
            color: #4d44b5;
            font-weight: 500;
        }
        .form-control{
            font-size: 14px;
            font-weight: 500;
        }
    }
    #imagePreview{
        margin: 1rem 0rem;
    }
}
